{{ 'star_rating.css' | asset_url | stylesheet_tag }}

{% assign pid = product.id %}
{% assign shop= shop.name %}

<html>
  <head>
    <title>
    </title>
  </head>
  <body>
    <div id='info-section' onclick='scrollToReviews()'>
      <div id='review-rating-section'>
         <div id="review-list">
        </div>
      </div>
      <div id='review-count-section'>
        <p id='review-count-block'></p>
      </div>
      </div>
    </div>
  </body>
</html>

  <script src="{{ '../assets/star_rating.js' | asset_url }}">

  </script>
    <script>
     document.addEventListener('DOMContentLoaded', function() {
      test('{{ shop }}', {{ pid }} ); 
    });
  </script>

{% schema %}
{
  "name": "Star Rating",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

